
.mouseover {
	cursor: url(cursor-blue.png), url(cursor.cur), pointer;
	float:left;
	margin-right:20px;
	margin-bottom:10px;
}

#magnified-img {
   background-repeat: no-repeat;
   display:inline-block;
    border:1px solid #ccc;
}

h1 {
	clear:both;
	font-size:1rem;
}



